*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
}
.bg{
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
    height: 800px;
}
.navbar {
    position: fixed;
    width: 97%;
    color: white;
    padding-right: 80px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    display: inline;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
.bgColor{
    transition: all 1s;
    background-color: rgb(52, 8, 8);
    color: black;
}
.logo{
    width: 15%;
}
.login{
    border: none;
    outline: none;
    margin-left: 40px;
    border-radius: 12px;
    padding: 10px 30px;
    background-color: white;
    color: black;
}
.login:hover{
    background-color: rgb(56, 54, 54);
    color: white;
}

