* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about-us{
    display: flex;
    padding: 6vw;
    gap: 1vw;
    background-color: #7642BA;
    color: #FFF;
    font-family: Inter;
}

.left-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    
}

.right-col{
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

.pic_2{
    width: 80%;
    border-radius: 50px;
}

.title{
    margin-bottom: 30px;
}

.sub-title{
    font-size: 32px;
}

.main-title{
    font-size: 64px;
    color: #FFE771;
    line-height: 45px;
}