/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-family: inter;
}

/*Utility Classes */
.flex {
    display: flex;
}

.event__container{
    flex-direction: column;
    margin: 62px  99px;           
    height: 80%;
    width: 80%;
}

.event__title{
    padding: 20px 10px;
    font-weight: 400;
    font-size: 48px;
}

.container {
    flex-direction: column;
}

.event {
    gap: 15px;
    align-items: center;

}

.event-date {
    border: 1px solid #FFE771FF;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 12%;
    background-color:#FFE771BB;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}

.event-date h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: .7;
}

.event-date p {
    font-size: 36px;
    font-weight: 700;
}

.container .event:nth-of-type(even) .event-date {
    border: 1px solid #7642BA70;
    background-color:#7642BA70;
}

.event-info {
    padding: 10px 0 0 0;
}

.event-info h3 {
    padding-top: 20px;
}

.event-info p {
    color: grey;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.bold-text {
    color: #7642BA;
    font-weight: 700;
}